#header {
  text-align: center;
  background-color: #fd5c63;
  border-radius: 2px;
  color: #fff;
}

#is-it-jk {
  text-align: center;
  color: rgba(34, 12, 64, 0.75);
  width: 100%;
}

span {
  width: 100%;
  display: inline-block;
}

body {
  padding: 5px;
  font: sans-serif;
  height: auto;
  width: 150px;
  border: 1px solid rgba(34, 12, 64, 0.2);
  border-spacing: 2px;
  padding-bottom: 2px;
}
